.mfg-icons {
    text-align: center;
    box-shadow: 4px 5px 4px 3px rgba(28, 47, 218, 0.521);
    font-size: 4.5em;
    margin: 15px;
    padding: 10px;
    border: 1.7px solid rgba(17, 59, 148, 0.637);
    color: white;
  }